
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.hero-bottom2{
    width: 1200px;
    height: 135px;
    margin-top: 30px;
    margin-left: 33px;
    background-color: #fff1eb;
    display: flex;
    justify-content:space-evenly ;

}
.main-box{
    width: 148px;
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#f5f5f5 ;
}
.main-2{
    width: 114px;
    height: 105px;
    justify-content: space-evenly;
    background-color:#f5f5f5;
}
.box-image{
    width: 80px;
    height: 80px;
    margin-left: 17px;
    background-size: cover;
}
#navbarSupportedContent{
  height: 80px;
}
#btn1{
  width: 60%;
  margin-left: 22%;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid black;
}
#ul{
  margin-top:9px ;
}
/* a{
text-align: center;
 font-weight: 500;
font-size: 14px;
margin-left: 5px;
} */
.heading{
    width: 114px;
    height: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
  
}

a:hover {
  color: rgb(248, 86, 6);
}

#nav-h{
   font-size: 21px;
    font-weight: 600;
    margin-bottom: 3px;
}

/* @media(max-width:300px){
    div{
        background-color: green;
    }
    
} */
@media(max-width:1000px){
    .hero-bottom2{
        display: none;
    }
}

 /* body{
     background-image: url("img_h_3.jpg");
     background-size: cover;
 } */
 .card{
     border-radius: 20px;
     border: 2px solid black;
 }
 #i-m img{
     border-radius: 10px;
 }
 #aa{
     color:white ;
     font-weight: 500;
     font-size: 40px;
 }
 #aa:hover{
     color: black;
 }
 #aaa{
     color: rgb(0, 128, 124);
 }
 #aaa:hover{
     color: white;
     border-top-right-radius: 5px;
     border-top-left-radius: 15px;
     border-bottom-right-radius: 15px;
     border-bottom-left-radius: 5px;
     border: 2px dotted white;
     background-color: rgba(14, 78, 198, 0.798);
 }
  
 .img-set{
     height: 500px;
     width: 100%;
     background-size: cover;}
 
 /* h3:hover{
     color:white;
    
     border-radius: 15px;
     background-color: rgb(191, 60, 86);
 }
 h3{
     width: 300px;
     height: 44px;
     border: 2px dotted crimson;
     font-weight: 600;
     font-size: 30px;
     margin-left: 35%;
     text-align: center;
 }  */
 .heading-1-main{
     height: 70px;
     margin-top: 10px ;
     width: 100%;
     font-weight: 600;
     text-align: center;
     background-color: #343a40;
     color: white;}
 
 
 #line{
     margin-top: 8px;
 }
 .img-s{
     height: 250px;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
     background-size: cover;
 }
 #s{
     font-size: 13px;
 }
 #f{
     margin-left: 35%;
 }
 .set-card{
    width: 18rem;
 }

 .set2sty{
    height: 180px;
 }
.he{
    margin-left: 5%;
    border-radius: 20px;
    margin-top: 10px;
    height: 40px;
    width: 90%;
    color: #f5f5f5;
    font-size: 15px;
    text-align: center;
    background-color: #343a40;
}
.he:hover{
  color: crimson;
  cursor: pointer;
}

/* about */



body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
.header {
    background-color: #131921;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 95%;
    margin-left: 3%;
    margin-top: 10px;
    border-radius:20px ;
}

.content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-container {
    width: 100%;
    height: 400px;
    border-radius: 20px;
    background-image: url(about-img.jpeg);
    background-size:cover;
    margin-bottom: 20px;
}
.text-container {
    width: 70%;
    text-align: center;
}
.button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* footer */

  footer {
    background-color:#1a4469;
    padding: 20px;
    /* margin-top: 10px; */
    color: #333;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-links {
    margin: 20px;
    color: black;
  }
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  .footer-links li {
    margin-bottom: 10px;
  }
  .footer-links a {
    color: black;
    text-decoration: none;
  }
  .footer-social {
    margin: 20px;
  }
  .footer-social ul {
    list-style: none;
    padding: 0;
  }
  .footer-social li {
    margin-bottom: 10px;
  }
  .footer-social a {
    color: #337ab7;
    text-decoration: none;
  }
  .footer-copyright {
    color: black;
    text-align: center;
    margin-top: 20px;
  }
  #icon{
    width: 60px;
    height: 20px;
  }
  

#lin{
    height: 10px;
    width: 100%;
    background-color: rgb(59, 56, 56);
}
/* #contact-form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */
/*   
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  } */


.container-1 {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group label {
  font-weight: bold;
}
.form-control {
  border-radius: 5px;
}
.btn-primary {
  background-color: #4CAF50;
  border: none;
}
.btn-primary:hover {
  background-color: #45a049;
} 
.container-1 {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group label {
  font-weight: bold;
}
.form-control {
  border-radius: 5px;
}
.btn-primary {
  background-color: #4CAF50;
  border: none;
}
.btn-primary:hover {
  background-color: #45a049;
} 

